/*-----body-----*/
body {
    background-color: #8db4ba;
    margin: 0px;
}

/*-----header-----*/
.dark-background {
    margin:auto;
    background-color:#5a8585;
    color: #ffff;
    padding-top: 20px;
    text-align: center;
    font-family: Helvetica, sans-serif;
    font-size: 30px;
}

h3, h2, h1 {
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    padding: 0px;
    margin: 10px;
}

/*-----Navigation-----*/
.text-center {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: 25px;
    margin: 0px;
    padding: 15px;
    font-weight: bold;
    
}

/*-----Main Body-----*/
hr {
    width: 50%;
    height: 0px;
    border: 2px solid #5a8585;
    background-color: #5a5a5a;
}

main {
    font-family: Futura;
    color: #232331;
    font-size: 20px;
}

/*-----Profile Picture------*/
.image-circle {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    border-radius: 50%;
    padding:20px;
}

/*-----intro/about me/contact me-----*/
article {
    margin-left: 30%;
    margin-right: 30%;
}

p, li {
    font-family: helvetica;
    font-size: 18px;
    margin: 0px;
}

a:link {color: #316161}
a:visited {color: #8483ed}
a:hover {color:#fff88f}
a:active {color: #f5d5f3}

/*-----Footer----*/
footer {
    background-color:#5a8585;
    color: white;
    margin: auto;
    padding: 20px;
    text-align: center;
}